img{
    border-radius: 47% 53% 69% 31% / 20% 32% 68% 80%;
}
#home_button{
    border-radius: 0;
    margin: 5px;
    width: 80px;
    border: 0;
}
#about_button{
    border-radius: 0;
    margin: 5px;
    border: 0;
    width: 80px;
    
}
#skills_button{
    border-radius: 0;
    margin: 5px;
    border: 0;
    width: 80px;
    
}
#projects_button{
    border-radius: 0;
    margin: 5px;
    width: 80px;
    border: 0;
}
#contact_button{
    border-radius: 0;
    margin: 5px;
    width: 80px;
    border: 0;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
#home_button:hover {
    background-color: gray;   
}
#about_button:hover {
    background-color: gray;
}
#skills_button:hover {
    background-color: gray;
}
#projects_button:hover {
    background-color: gray;
}
#contact_button:hover {
    background-color: gray;
}
