.navbar{
    position: fixed;
    top: 0;
    width: 100%;
}
img{
    border-radius: 47% 53% 69% 31% / 20% 32% 68% 80%; 
    display: flex; 
    float: right;
    max-width: 350px;
    max-height: 350px;
    
    
}   

#home_button{
    border-radius: 0;
    margin: 5px;
    width: 80px;
    border: 0;
}
#about_button{
    border-radius: 0;
    margin: 5px;
    border: 0;
    width: 80px;
    
}
#skills_button{
    border-radius: 0;
    margin: 5px;
    border: 0;
    width: 80px;
    
}
#projects_button{
    border-radius: 0;
    margin: 5px;
    width: 80px;
    border: 0;
}
#contact_button{
    border-radius: 0;
    margin: 5px;
    width: 80px;
    border: 0;
}
#home_button:hover {
    background-color: gray;   
}
#about_button:hover {
    background-color: gray;
}
#skills_button:hover {
    background-color: gray;
}
#projects_button:hover {
    background-color: gray;
}
#contact_button:hover {
    background-color: gray;
}
.container{

    float: left;
    margin-left: 57px;
    width: 100%;
}
#home{
    
    margin-top: 100px;
    margin-bottom: 100px;
}
#about{

    margin-top: 100px;
    margin-bottom: 100px;
}
#skills{
   
    margin-top: 100px;
    margin-bottom: 100px;
}
#projects{
   
    margin-top: 100px;
    margin-bottom: 100px;
}
#contact{
    
    margin-top: 100px;
    margin-bottom: 100px;
}
@media (max-width:480px) {
    img{
        margin-right: 30px;
        width: 150px;
        height: 150px;
        
    }
    .container{
        float: left;
        width: 300px;
    }
    h1{
        font-size: small;
    }
    .lead{
        font-size: small;
    }
    #home{
    
        margin-top: 100px;
        margin-bottom: 100px;
    }
    #about{
    
        margin-top: 100px;
        margin-bottom: 100px;
    }
    #skills{
       
        margin-top: 100px;
        margin-bottom: 100px;
    }
    #projects{
       
        margin-top: 100px;
        margin-bottom: 100px;
    }
    #contact{
        
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
}
